name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout del c贸digo
      - name: Checkout code
        uses: actions/checkout@v2

      # Configurar Node.js
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18.x'

      # Instalar dependencias
      - name: Install dependencies
        run: npm install

      # Ejecutar pruebas unitarias
      - name: Run tests
        run: npm test

      # Imprimir valores de variables para depuraci贸n
      - name: Print Git Config
        run: |
          echo "Git user email: ${{ secrets.GIT_USER_EMAIL }}"
          echo "Git user name: ${{ secrets.GIT_USER_NAME }}"

      # Configurar Git
      - name: Configure Git
        run: |
          git config --global user.email "${{ secrets.GIT_USER_EMAIL }}"
          git config --global user.name "${{ secrets.GIT_USER_NAME }}"

      # Incrementar la versi贸n y generar changelog
      - name: Bump version and generate changelog
        run: npm run release
        env:
          PAT_TOKEN: ${{ secrets.PAT_TOKEN }}

      # Commit y push de los cambios
      - name: Commit changes
        run: |
          git add .
          git commit -m "chore(release): bump version and generate changelog" || echo "No changes to commit"
          git push origin main
        env:
          PAT_TOKEN: ${{ secrets.PAT_TOKEN }}

      # Simulaci贸n de despliegue
      - name: Simulate deployment
        run: echo "Simulating deployment to production environment"
